# fill the fields and replace the Xs with relevant keys and IDs
# not all variables are required

# twitter
CONSUMER_KEY = "XXXXXXXXXXXXXXXXXXXXXXXXX"
CONSUMER_SECRET = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
OWNER = "XXXXXXXXXX"
OWNER_ID = "XXXXXXXXXX"

# facebook
FB_ID = "XXXXXXXXXXXXXXXX"
FB_ACCESS_TOKEN = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

FB_APP_ID = "XXXXXXXXXXXXXXX"
FB_APP_SECRET = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
